*{
    background-color: lightcyan
}
.class1{
    background-color: lightcoral
}
#id1{
    background-color: red
}
#id1{
    background-color: lightgreen
}
div{
    background-color: lightseagreen
}

